.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 2px solid black;
  justify-content: space-between;
  width: 100%;
}

.label {
  padding: 0.5rem;
  font-weight: bold;
  white-space: nowrap;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  gap: 1rem;
  padding: 0.5rem;
}
