/* All */
.sectionTitle {
  margin-bottom: 0.5rem;
  font-weight: 700;
  /* font-size: 0.75rem; */
  /* color: #c0c0c0; */
}

.section {
  white-space: nowrap;
}

.list {
  margin: 0.25rem 0;
}

/* Mobile */
@media (width < 1024px) {
  .container {
    margin-top: 2rem;
    padding: 0 1rem;
  }
  
  .thumbnail {
    width: 100%;
  }

  .detailContainer {
    padding: 1rem 0.5rem;
  }

  .section {
    margin-bottom: 2rem;
  }
}

/* Desktop */
@media (width >= 1024px) {
  .container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 1.5rem;
    margin-top: 1rem;
    border-radius: 0.375rem;
    box-shadow: 0px 0px 32px -4px #b0b0b0;
  }
  
  .thumbnail {
    height: 32rem;
    width: 24rem;
    object-fit: cover;
  }

  .detailContainer {
    flex-grow: 1;
  }

  .section {
    margin: 1rem 0;
    width: 284px;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    /* align-items: start; */
  }
}
