/* All */
.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.infoTitle {
  color: #808080;
  font-size: 0.75rem;
}

.button {
  border: 0;
  outline: 0;
  background: var(--color-red);
  border-radius: 9999px;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

/* Mobile */
@media (width < 1024px) {
  .container {
    margin: 1rem 0;
    white-space: nowrap;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0px 0px 24px -6px #808080;
  }

  .image {
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
  }

  .eventName {
    font-weight: 700;
    font-size: 1.5rem;
  }

  .info {
    margin: 1rem 0;
  }
}

/* Desktop */
@media (width >= 1024px) {
  .container {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
  }

  .image {
    height: 128px;
    width: 96px;
    object-fit: cover;
  }

  .eventName {
    font-weight: 700;
    font-size: 1.25rem;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
