/* All */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 1rem;
}

.homeLink {
  display: flex;
  padding: 0 1rem;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

/* Mobile */
@media (width < 1024px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

/* Desktop */
@media (width >= 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1024px;
  }
}
