/* All */
.container {
  position: relative;
  height: 1rem;
  width: 100%;
  background-color: #c0c0c0;
  border-radius: 9999px;
  overflow: hidden;
}

.bar {
  position: absolute;
  height: 1rem;
  background-color: var(--color-blue);
}

/* Mobile */
@media (width < 1024px) {
  
}

/* Desktop */
@media (width >= 1024px) {
  
}
